*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    background-image: url("turismo.png");
    background-repeat: no-repeat;       
    background-size: cover;             
    background-position: center center; 
    background-attachment: fixed;   

.form-container{
    max-width: 700px;
     margin: auto;
     background-color: rgba(0, 0, 0, 0.5);
     padding: 30px;
     border-radius: 15px;
     box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
}

.container{
    max-width: 700px;
     margin: auto;
     background-color: rgba(236, 236, 236, 0.5);
     padding: 30px;
     border-radius: 15px;
     box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

form fieldset{
    border: 2px solid  rgb(24, 111, 151);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

legend{
    font-weight: bold;
    color: #ffffff;
}

label{
    display: block;
    color: #ffffff;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea,
input[type="file"]{
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
}

.radio-ground,
.checkbox-group{
     max-width: 700px;
     margin: auto;
     padding: 30px;
     border-radius: 15px;
}

.form-container label,
.checkbox-group label{
    display: inline-block;
    margin-right: 15px;
}

textarea{
    resize:  vertical;
}

.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button{
    padding: 12px 25px;
    background-color: rgba(179, 186, 202, 0.662);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(13, 120, 139);
}

input:focus,
select:focus,
textarea:focus{
    border-color: #003366;
    outline: none;
}

input:invalid{
    border-color: rgb(255, 255, 255);
}

